body {
    padding: auto;
    max-width: 5px;
    margin: auto;
}

.upper {
    background-origin: padding-box;
    break-inside: auto;
    visibility: inherit;
    counter-reset: 42px;
    display: block;
}

.lower {
    padding: 4em;
    align-self: start;
    descent-override: 43;
    background-attachment: fixed;
    background-position: 0 0;
}